@model WebUI.Models.CartViewModel

@{
    ViewBag.Title = "OnlineStore: ваша корзина";
}

<h2>Ваша корзина</h2>
<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Товар</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
            <th class="text-right">Изменить количество</th>
            <th class="text-right">Удалить товар</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var cartDetail in Model.Cart.CartDetail)
        {
            <tr>
                <td class="text-center">@cartDetail.Quantity</td>
                <td class="text-left">@cartDetail.Product.Name</td>
                <td class="text-right">@cartDetail.Product.Cost.ToString("# руб")</td>
                <td class="text-right">@((cartDetail.Quantity * cartDetail.Product.Cost).ToString("# руб"))</td>
                <td class="text-right">
                    <input data-toggle="modal" data-target="#tips-@cartDetail.CartDetailId" class="btn btn-outline-primary" type="submit" value="Изменить кол-во">
                    <div class="modal fade" id="tips-@cartDetail.CartDetailId" tabindex="-1" role="dialog" aria-labelledby="tipsLabel">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Изменение кол-ва продукции</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post">
                                <div class="modal-body">
                                    <label>@cartDetail.Product.Name</label>
                                    <input name="newQuantity" type="text" class="form-control" placeholder="Введите количество" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <input asp-controller="Cart" asp-action="EditProduct" asp-route-productId=@cartDetail.ProductId asp-route-returnUrl=@Model.ReturnUrl class="btn btn-outline-primary" type="submit" value="Сохранить изменения">
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </td> 
                <td class="text-right">
                    <form asp-action="RemoveProduct" asp-controller="Cart">
                        <input asp-controller="Cart" asp-action="RemoveProduct" asp-route-productId=@cartDetail.ProductId asp-route-returnUrl=@Model.ReturnUrl class="btn btn-outline-primary" type="submit" value="Удалить товар">
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-outline-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
</div>
