@model IEnumerable<Domain.Entities.User>
@{
    ViewData["Title"] = "Список товаров";
}
<h2 class="lead text-center">Данные системы учета</h2>
<ul class="nav nav-tabs nav-fill justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Клиенты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Продукция</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Email</th>
                    <th scope="col">Количество заказов</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var users in Model.Where(user => user.RoleId == 2))
                {
                    <tr>
                        <th scope="row">@users.Id</th>
                        <td>@users.FirstName</td>
                        <td>@users.LastName</td>
                        <td>@users.ContactPhone</td>
                        <td>@users.Email</td>
                        <td>@users.Orders.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Email</th>
                    <th scope="col">Количество заказов</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var users in Model.Where(user => user.RoleId == 2))
                {
                    <tr>
                        <th scope="row">@users.Id</th>
                        <td>@users.Orders.</td>
                        <td>@users.LastName</td>
                        <td>@users.ContactPhone</td>
                        <td>@users.Email</td>
                        <td>@users.Orders.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>